.main_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_div h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #6c6c6c;
  font-weight: 700;
}

.img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img_div img {
  width: 300px;
  height: 220px;
  margin: 0 30px;
}

@media (max-width: 1025px) {
  .main_div h2 {
    font-size: 25px;
  }

  .img_div img {
    width: 200px;
    height: 180px;
  }
  .img_div2 {
    display: flex;
  }
  .img_div1 {
    display: flex;
  }
}

@media (max-width: 769px) {
  .main_div h2 {
    font-size: 18px;
  }
  .img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 100px;
  }
  .img_div img {
    margin-top: 10px;

    width: 35%;
    height: auto;
  }
}

@media (max-width: 426px) {
  .main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .main_div h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 55px;
    width: 350px;
  }
  .img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .img_div img {
    margin-top: 10px;

    width: 90%;
    height: auto;
    margin: 10px 0;
  }
  .img_div2 {
    display: flex;
    flex-direction: column;
  }
  .img_div1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 376px) {
  .main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main_div h2 {
    font-size: 18px;
    text-align: center;
    margin-left: 18px;
    width: 300px;
  }
  .img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    width: 100%;
  }
  .img_div img {
    margin-top: 10px;

    width: 80%;
    height: auto;
    margin: 10px auto;
  }
  .img_div2 {
    display: flex;
    flex-direction: column;
  }
  .img_div1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 321px) {
  .main_div h2 {
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    width: 300px;
  }
}
